.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 87px;
}

.header span {
    font-size: 32px;
    font-weight: 400;
    transform: rotate(270deg);
    margin-right: 3px;

}

.header_1 {
    width: 100%;
}

.header h1 {
    font-size: 71px;
}

@media screen and (max-width:760px) {
    .header_1 {
        width: 100%;
        height: auto;
    }

    .header span {

        font-size: 25px;
    }

    .header h1 {
        font-size: 35px;

    }



}