nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 22px;
    padding: 30px 45px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    list-style: none;

}

nav ul li {
    font-size: 18px;
    font-weight: 500;
}

.links {
    text-decoration: none;
    color: #000;
}



@media screen and (max-width:760px) {
    nav {
        display: none;
    }




}